* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Architects Daughter', cursive;
}

a {
    text-decoration: none;
}

.geral {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.mensagem {
	grid-column: 1 / 9;
	font-size: 2.5rem;
	margin-top: 50px;
	color: #000;
	text-align: center;
}

/* MENU */

header {
    background: #000;
    position: fixed;
    width: 80px;
    height: 100vh;
    padding: 10px;
    text-align: center;
}

header h1, header ul li a {
    color: #fff;
    margin-bottom: 15px;
    transition: all 0.3s;
    cursor: pointer;
}

header li {
    margin-bottom: 20px;
}

header li:hover {
    transform: scale(1.1);
}

header h1, header ul {
    display: none;
}

header h1 {
    margin: 40px 0;
}

.botao-abrir {
    font-family: 'Architects Daughter', cursive;
    font-size: 1.5rem;
    font-weight: bold;
    background: #000;
    color: #fff;
    border-radius: 50%;
    padding: 6px 12px;
    position: fixed;
    top: 44px;
    left: 60px;
    text-decoration: none;
}

/* -------------------------------*/

/* DASHBOARD */

.sua_area {
    grid-column: 1 / 9;
    margin: 0 auto;
}

.sua_area h1 {
    font-size: 2rem;
    padding: 50px;
    text-align: center;
}

.sua_area div {
    display: flex;
}

.sua_area div p {
    margin-bottom: 40px;
    margin-right: 30px;
}

/* -------------------------------*/

/* CADASTRO, EDIÇÃO E EXCLUSÃO DE LIVROS, RECEITAS, PREPAROS E INGREDIENTES*/

.caixas {
    grid-column: 1 / 9;
    display: flex;
    margin: 0 auto;
}

.caixa_livro,
.caixa_receita,
.caixa_preparo,
.caixa_ingrediente {
    margin-left: 100px;
    padding: 50px 0px;
}

.caixa_livro label,
.caixa_receita label,
.caixa_preparo label,
.caixa_ingrediente label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
}

.caixa_livro input,
.caixa_receita input,
.caixa_preparo input,
.caixa_ingrediente input {
    font-family: 'Architects Daughter', cursive;
    font-size: 1rem;
    display: block;
    padding: 8px;
    width: 250px;
    outline: 0;
}

.caixa_livro select {
    font-family: 'Architects Daughter', cursive;
    width: 250px;
    padding: 10px 2px;
}

.caixa_livro div, 
.caixa_receita div,
.caixa_preparo div,
.caixa_ingrediente div {
    margin-top: 20px;
}

.caixa_livro div button,
.caixa_receita div button,
.caixa_preparo button,
.caixa_ingrediente button {
    font-family: 'Architects Daughter', cursive;
    font-size: 1.15rem;
    font-weight: bold;
    letter-spacing: 1px;
    border: 2px solid #F56300;
    background: transparent;
    color: #F56300;
    padding: 8px;
    width: 250px;
    display: block;
    text-align: center;
    transition: all 0.3s;
    cursor: pointer;
}

.caixa_livro div button:hover,
.caixa_receita button:hover,
.caixa_preparo button:hover,
.caixa_ingrediente button:hover {
    background: #ff6f0f;
    color: #fff;
}

.caixa_receita textarea,
.caixa_preparo textarea {
    font-family: 'Architects Daughter', cursive;
    font-size: 1.15rem;
    padding: 10px;
    width: 250px;
    height: 150px;
    outline: 0;
}

.caixa_receita textarea::placeholder,
.caixa_preparo textarea::placeholder {
    font-size: 1rem;
}

/* -------------------------------*/

/* CONSULTA DE LIVROS, RECEITAS, PREPAROS E INGREDIENTES*/

.lista-livros,
.lista-receitas,
.lista-preparos,
.lista-ingredientes {
    grid-column: 1 / 9;
    margin: 0 auto 50px auto;
}

.lista-livros td,
.lista-receitas td,
.lista-preparos td,
.lista-ingredientes td {
    font-size: 2rem;
    color: #000;
    border: 1px solid rgba(0,0,0,0.5);
    padding: 20px 40px;
    text-align: center;
}

.lista-livros .conteudo_tabela td,
.lista-receitas .conteudo_tabela td,
.lista-preparos .conteudo_tabela td,
.lista-ingredientes .conteudo_tabela td {
    font-size: 1.25rem;
}

/* -------------------------------*/

/* MENSAGEM DE SUCESSO */

.sucesso {
	grid-column: 1 / 9;
	border: 1px solid #fff;
	background: #00BC22;
	color: #fff;
	padding: 8px;
	text-align: center;
	width: 100%;
	margin: 0 auto;
}